<div class="container">
	<div class="row burger">
		<img src="assets/img/burger.png" class = "img-fluid mx-auto d-block" style = "width: 200px; height: 200px">
	</div>
	<div class="row text-center">
		<div class="mx-auto">
			<h2 id = "title">Eat-Da-Burger</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 mx-auto" id="burger-block">
			<div class="row">
				<div class="col-md-6" id="burgers-to-eat">
					{{#each burgers}}
						{{#unless this.devoured}}
							<form action="/{{this.id}}?_method=PUT" method="POST">
								<textarea class = "burger-list text-center" rows = "2" cols = "30" readonly>{{this.id}}. {{this.burger_name}}</textarea>
								<button type="submit" class="btn btn-default devour">Devour it!</button>
							</form>
						{{/unless}}
					{{/each}}
				</div>
				<div class="col-md-6" id="burgers-eaten">
					{{#each burgers}}
						{{#if this.devoured}}
							<textarea class = "devoured" rows = "1" readonly disabled>{{this.id}}. {{this.burger_name}}</textarea>
						{{/if}}
					{{/each}}
				</div>
			</div>	
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 mx-auto">
			<form action="/" method="POST">
				<textarea class = "burger-entry" name = "name" rows = "2"></textarea>
				<div class="text-center">
					<button type="submit" class="btn btn-primary enter">Enter</button>
				</div>
				<p id="instructions">To add a burger that you would like to devour Click the "Enter" button.</p>
			</form>
		</div>	
	</div>
</div>